@keyframes spinner {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(359deg);
    }
}

.loader {
    max-height: 100%;
    padding-top: 50px;
}

.loader.loading .spinner {
    opacity: 1;
    top: 50%;
}

.loader .spinner {
    border-radius: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    height: 20px;
    animation: none;
    transform: rotateZ(-45deg);
}

.hidden {
   visibility: hidden;
}
