RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php?path=%{REQUEST_URI} [L,QSA]

Header set Access-Control-Allow-Origin "https://files.lucacastelnuovo.nl"
Header set Access-Control-Allow-Methods "GET"
